.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../image/CloseIcon.png);
  background-size: contain;
  padding: 0;
  border: none;
  background-color: transparent;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}